<div style="width: 100%;" class="d-flex">
  <app-navbar style="width:15%" [user]="user"></app-navbar>
  <div style="width: 100%; float: right;">
    <div style=" height: 9%; background-color:#43cebb;padding: 5px;">
      <button pButton (click)="verifprofil()" pRipple style="background-color: #43cebb;float:right;margin:5px"
        label="Profil" type="button"
        class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>
      <button pButton (click)="logout()" pRipple style="background-color: #43cebb;float:right;" icon="pi pi-user"
        type="button"
        class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4"></button>

    </div><br>
    <div style="background-color:#f1f2f3;">

      <div style="background-color: #f1f2f3;height: 100%; " class="card ">
        <h1 class="text-center "
          style="color: rgb(131, 179, 241); margin:20px; font-family: 'Times New Roman', Times, serif;">Creer Comptes
        </h1>
        <p-toast position="top-right"></p-toast>
        <hr style="background-color:  #FFC909;height: 3px;">

        <div style="background-repeat: no-repeat;background-size: cover;">
          <div class="container add">

            <mat-tab-group class="card wizard-card" mat-stretch-tabs style="opacity: 80%;">
              <mat-tab label="Medecin">
                <form #f="ngForm" (ngSubmit)="Submit(f)">
                  <input type="hidden" pInputText [(ngModel)]="user.cod_hop" name="cod_hop" required #st="ngModel">

                  <div class="  row">
                    <div class="card-header container">
                      <h4 class="card-title text-dark text-center">
                        INFORMATIONS DU MEDECIN
                      </h4>
                    </div>
                    <div class="card-body ">
                      <div class=" col-g-5">

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Nom</mat-label>
                            <input matInput placeholder="Nom" [(ngModel)]="name" name="nom_med" #nme="ngModel" required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div [hidden]="!nme.errors?.required || nme.pristine" class="alert alert-danger">
                          Le nom est un champ obligatoire
                        </div>

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Prenom</mat-label>
                            <input matInput placeholder="prenom" [(ngModel)]="prenom" name="prenom_med" #pm="ngModel"
                              required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div [hidden]="!pm.errors?.required || pm.pristine" class="alert alert-danger">
                          Le prenom est un champ obligatoire
                        </div>

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="email" [(ngModel)]="email" name="email" #cn="ngModel" required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div [hidden]="!cn.errors?.required || cn.pristine" class="alert alert-danger">
                          Le email est un champ obligatoire
                        </div>

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput placeholder="mot de passe" [(ngModel)]="password" name="password" #pass="ngModel"
                              required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div [hidden]="!pass.errors?.required || pass.pristine" class="alert alert-danger">
                          Le mot de passe est un champ obligatoire
                        </div>

                      </div>
                    </div>
                    <div class="card-body ">
                      <div class=" col-g-12 ">

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Capacité</mat-label>
                            <input matInput placeholder="Capacité medecin/jour" [(ngModel)]="capacite" name="capacite" #nv="ngModel"
                              required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div [hidden]="!nv.errors?.required || nv.pristine" class="alert alert-danger">
                          La capacité est un champ obligatoire
                        </div>

                        <!--<div class="form-group" style="width: 100%;">
                            <div class="p-field p-col-12 p-md-4" style="width: 100%;">

                               <div  class="p-inputgroup" style="width: 100%;">
                                   <mat-form-field style="width: 100%;" appearance="fill">
                                    <mat-label>Hopital</mat-label>
                                    <mat-select name="cod_hop" [(ngModel)]="codhop">
                                      <mat-option *ngFor="let hopital of hopitals" [value]="hopital.cod_hop">
                                        {{hopital.nom_hop}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                               </div>
                           </div>
                        </div>-->

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Service</mat-label>
                            <input matInput placeholder="Service" [(ngModel)]="service" name="service" #serv="ngModel"
                              required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>

                        <mat-form-field style="width: 100%;" appearance="fill">
                          <mat-label>Specialité</mat-label>
                          <mat-select name="specialite" [(ngModel)]="specialite" required>
                            <mat-option *ngFor="let jour of jours" value="{{jour.value}}">
                              {{jour.viewValue}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                      </div>
                      <div [ngStyle]="{'float':'right','margin':'20px'}">
                        <!--[disabled]="f.invalid"-->
                        <button type="submit" pButton label="Confirmer" style="background-color: #FFC909;color: black;"
                          [disabled]="!f.valid" class="ui-button-success"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-tab>


              <mat-tab label="Pharmacien">
                <form #f2="ngForm" (ngSubmit)="SubmitUser(f2)">
                  <input type="hidden" pInputText [(ngModel)]="user.cod_hop" name="cod_hop" required #st="ngModel">
                  <div class="  row">
                    <div class="card-header container">
                      <h4 class="card-title text-dark text-center">
                        INFORMATIONS DU PHARMACIEN
                      </h4>
                    </div>
                    <div class="card-body ">
                      <div class=" col-g-5">
                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" [(ngModel)]="psdo" name="email" #cte="ngModel"
                             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                              required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="cte.invalid && (cte.dirty || cte.touched)" class="alert alert-danger">
                          <div *ngIf="cte.errors?.pattern && cte.touched">
                            email invalide
                          </div>
                        </div>
                        <div [hidden]="!cte.errors?.required || cte.pristine" class="alert alert-danger">
                          Le email est un champ obligatoire
                        </div>

                      </div>
                    </div>

                    <div class="card-body ">
                      <div class=" col-g-12 ">

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput placeholder="mot de passe" [(ngModel)]="pas" name="password"
                                  #vle="ngModel" minlength="8"  required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="vle.touched" class="alert alert-danger">
                          <div *ngIf="vle.invalid;">
                            veuillez saisir un mot de passe de 8 charachteres
                          </div>
                        </div>
                        <div [hidden]="!vle.errors?.required || vle.pristine" class="alert alert-danger">
                          Le mot de passe est un champ obligatoire
                        </div>

                      </div>
                      <div [ngStyle]="{'float':'right','margin':'20px'}">
                        <button type="submit" pButton label="Confirmer" style="background-color: #FFC909;color: black;"
                          [disabled]="!f.valid" class="ui-button-success"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
