<div style="width: 100%;" class="d-flex">
  <app-navbar style="width:15%" [user]="user"></app-navbar>
  <div style="width: 100%; float: right;">
    <div style=" height: 9%; background-color:#257e72;padding: 5px;">
      <div style="margin-right: 30px;float: right;margin-top: -1%;" class="nav-item dropdown" dropdown>
        <button style="background-color: #43cebb;" pButton pRipple icon="pi pi-user" label="Profil" dropdownToggle mdbWavesEffect type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4 nav-link dropdown-toggle waves-light" mdbWavesEffect>
           <span class="caret"></span></button>
        <div  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a  class="dropdown-item waves-light" mdbWavesEffect (click)="verifprofil()">Modifier profil</a>
          <a  class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Se deconnecter</a>
        </div>
      </div>
    </div><br>
    <div style="background-color:#f1f2f3;">

      <div style="background-color: #f1f2f3;height: 100%; " class="card ">
        <h1 class="text-center "
          style="color: black; margin:20px; font-family: 'Times New Roman', Times, serif;">Creer Comptes
        </h1>
        <p-toast position="top-right"></p-toast>
        <hr style="background-color:  #FFC909;height: 3px;">
<!--Ajouter médecin-->
        <div style="background-repeat: no-repeat;background-size: cover;">
          <div class="container add">

            <mat-tab-group class="card wizard-card" mat-stretch-tabs style="opacity: 80%;">
              <mat-tab label="Medecin">
                <form #f="ngForm" (ngSubmit)="Submit(f)">
                  <input type="hidden" pInputText [(ngModel)]="user.cod_hop" name="cod_hop" required #st="ngModel">

                  <div class="  row">
                    <div class="card-header container">
                      <h4 class="card-title text-dark text-center">
                        INFORMATIONS DU MEDECIN
                      </h4>
                    </div>
                    <div class="card-body ">
                      <div class=" col-g-5">

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Nom</mat-label>
                            <input matInput placeholder="Nom" [(ngModel)]="name" name="nom_med" #nme="ngModel" required pattern="[a-zA-Z]*">
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="nme.invalid && (nme.dirty || nme.touched)" class="alert alert-danger">
                          <div *ngIf="nme.errors.required">
                              Le nom est obligatoire
                          </div>
                          <div *ngIf="nme.errors.pattern">
                            Le nom doit etre alphabetique
                          </div>
                       </div>

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Prenom</mat-label>
                            <input matInput placeholder="prenom" [(ngModel)]="prenom" name="prenom_med" #pm="ngModel" pattern="[a-zA-Z]*" required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="pm.invalid && (pm.dirty || pm.touched)" class="alert alert-danger">
                          <div *ngIf="pm.errors.required">
                              Le prenom est obligatoire
                          </div>
                          <div *ngIf="pm.errors.pattern">
                            Le prenom doit etre alphabetique
                          </div>
                       </div>
                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="email" [(ngModel)]="email" name="email" #cn="ngModel" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="cn.invalid && (cn.dirty || cn.touched)" class="alert alert-danger">
                          <div *ngIf="cn.errors.required">
                              L'email est obligatoire
                          </div>
                          <div *ngIf="cn.errors.pattern">
                            L'email est invalide
                          </div>
                       </div>

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput type="password" placeholder="mot de passe" [(ngModel)]="password" name="password" #pass="ngModel" minlength="8"  required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>

                        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                          <div *ngIf="pass.errors.required">
                              Le mot de passe est obligatoire
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="card-body ">
                      <div class=" col-g-12 ">

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Numero de telephone</mat-label>
                            <input matInput placeholder="Num tel" [(ngModel)]="capacite" name="numTel" #nv="ngModel"  pattern="[0-9]{8}" required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="nv.invalid && (nv.dirty || nv.touched)" class="alert alert-danger ">
                          <div *ngIf="nv.errors.required">
                            Le numero de telephone est obligatoire
                          </div>
                          <div *ngIf="nv.errors.pattern">
                            Le numero de telephone doit etre numérique et de 8 chiffres
                          </div>
                       </div>

                          <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Service</mat-label>
                            <mat-select name="service" [(ngModel)]="serve" #serv="ngModel" required>
                              <mat-option *ngFor="let serv of service" [value]="serv.value">
                                {{serv.value}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div *ngIf="serv.invalid && (serv.dirty || serv.touched)" class="alert alert-danger">
                            le service est obligatoire
                        </div>

                        <mat-form-field style="width: 100%;" appearance="fill">
                          <mat-label>Specialité</mat-label>
                          <mat-select name="specialite" [(ngModel)]="spece" #spc="ngModel" required>
                            <mat-option *ngFor="let spec of specialite" [value]="spec.value">
                              {{spec.value}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <div *ngIf="spc.invalid && (spc.dirty || spc.touched)" class="alert alert-danger">
                          la specialité est obligatoire
                      </div>

                      </div>
                      <div [ngStyle]="{'float':'right','margin':'20px'}">
                        <!--[disabled]="f.invalid"-->
                        <button type="submit" pButton label="Confirmer" style="background-color: #FFC909;color: black;"
                          [disabled]="!f.valid" class="ui-button-success"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-tab>


              <mat-tab label="Pharmacien">
                <form #f2="ngForm" (ngSubmit)="SubmitUser(f2)">
                  <input type="hidden" pInputText [(ngModel)]="user.cod_hop" name="cod_hop" required #st="ngModel">
                  <div class="  row">
                    <div class="card-header container">
                      <h4 class="card-title text-dark text-center">
                        INFORMATIONS DU PHARMACIEN
                      </h4>
                    </div>
                    <div class="card-body ">
                      <div class=" col-g-5">
                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" [(ngModel)]="psdo" name="email" #cne="ngModel"
                             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                              required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="cne.invalid && (cne.dirty || cne.touched)" class="alert alert-danger">
                          <div *ngIf="cne.errors.required">
                              L'email est obligatoire
                          </div>
                          <div *ngIf="cne.errors.pattern">
                            L'email est invalide
                          </div>
                       </div>

                      </div>
                    </div>

                    <div class="card-body ">
                      <div class=" col-g-12 ">

                        <p style="width: 100%;">
                          <mat-form-field appearance="legacy" style="width: 100%;">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput placeholder="mot de passe" [(ngModel)]="pas" name="password"
                                  #pss="ngModel" minlength="8"  required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                          </mat-form-field>
                        </p>
                        <div *ngIf="pss.invalid && (pss.dirty || pss.touched)" class="alert alert-danger">
                          <div *ngIf="pss.errors.required">
                              Le mot de passe est obligatoire
                          </div>
                        </div>

                      </div>
                      <div [ngStyle]="{'float':'right','margin':'20px'}">
                        <button type="submit" pButton label="Confirmer" style="background-color: #FFC909;color: black;"
                          [disabled]="!f.valid" class="ui-button-success"></button>
                      </div>
                    </div>
                  </div>
                </form>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="isup">
      <app-modif-profil></app-modif-profil>
      </div>
  </div>
</div>
