<p-toast position="top-right"></p-toast>

<p-dialog class="edit" appendTo="body" [(visible)]="display"  header="Modifier votre profil" [style]="{width: '30vw'}"  [responsive]="true">

         <div >
          <div class="col-md-12">
            <img style="height: 200px; margin-left: 25%;" src="../../assets/user.jpg" class="rounded-circle" alt=""/>
          <h3 style="text-align: center;">Bonjour </h3>
          </div>
          <form #f="ngForm" (ngSubmit)="Submit(f)" class="row">

              <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-email">E-mail </label>
                      <input class="form-control" type="email" id="account-email" name="email" [(ngModel)]="user.email" #email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                  </div>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf = "email.errors?.pattern && email.touched">
                      email invalide
                    </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-pass">Nouveau Mot de passe</label>
                      <input class="form-control" name="password" [(ngModel)]="pass"  [placeholder]="user.password" type="password"  #userPassword="ngModel" minlength="8" id="account-pass">
                  </div>
                  <div *ngIf="userPassword.touched" class="alert alert-danger">
                    <div *ngIf = "userPassword.invalid; ">
                      veillez saisir un mot de passe de 8 charachteres minimum
                    </div>
                     </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="account-confirm-pass">Confirmer Mot de passe</label>
                      <input name="pass" [(ngModel)]="mdp"  class="form-control" type="password" id="account-confirm-pass">
                  </div>
              </div>
              <div class="col-12">
                <hr>
                <button pButton pRipple [disabled]="!f.form.valid" style="background-color: #FFC909;float: right;"
                  icon="pi pi-check" label="Enregistrer" type="submit" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-black hover:text-white mr-4"></button>
                <button pButton pRipple style="background-color: #FFC909;float: left;" type="button" (click)="closeModal()"
                  pButton label=" Retour"  class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-black hover:text-white mr-4"></button>
              </div>
          </form>

      </div>
  </p-dialog>
