<div style="width: 100%;height: 100vh;" class="d-flex">

    <app-navbar style="width:15%;height: 100%;" [user]="user"></app-navbar>

<div style="width: 100%; float: right;">

  <div style=" height: 9%; background-color:#257e72;padding: 5px;" >
   <div style="margin-right: 30px;float: right;margin-top: -1%;" class="nav-item dropdown" dropdown>
    <button style="background-color: #43cebb;" pButton pRipple icon="pi pi-user" label="Profil" dropdownToggle mdbWavesEffect type="button" class="p-button-rounded block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4 nav-link dropdown-toggle waves-light" mdbWavesEffect>
       <span class="caret"></span></button>
    <div  *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
      <a  class="dropdown-item waves-light" mdbWavesEffect (click)="verifprofil()">Modifier profil</a>
      <a  class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Se deconnecter</a>
    </div>
  </div>
</div><br>
<h1 style="font-weight:bold;margin:10px">Tableau de bord</h1>
<div id="print"  class="d-flex col-md-12">
  <div  class=" col-md-9">

    <div class=" d-flex">
      <div class="col-md-4">

        <div class="card c1"  style="height: 100%;color: #fff;width: 100%;">
          <div class="card-body">
              <h4 class="card-title text-center m-b-0">Le nombre des enfants inscrits</h4>
              <div class="m-t-30">
                  <div class="row text-center">
                      <div class="col-12">
                        <p-progressBar [value]="1000/100"></p-progressBar>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>

      <div class="col-md-4">
        <div class="card c2"  style="height: 100%;color: #fff;width: 100%;">
          <div class="card-body">
              <h4 class="card-title text-center m-b-0">Le nombre des adultes inscrits</h4>
              <div class="m-t-30">
                  <div class="row text-center">
                      <div class="col-12">
                        <p-progressBar [value]="500/100"></p-progressBar>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>

    <div class="col-md-4">
    <div class="card c4"  style="height: 100%;color: #fff;width: 100%;">
      <div class="card-body">
          <h4 class="card-title text-center m-b-0">Le nombre des agés inscrits</h4>
          <div class="m-t-30">
              <div class="row text-center">
                  <div class="col-12">
                    <p-progressBar [value]="90/100"></p-progressBar>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>

    </div>

<br>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title text-center">Le nombre des rendez-vous effectués par mois en {{annee}} </h4>
          <div style="height:370px; width:50vw" class="mt-4">
            <mat-form-field appearance="fill" style="width: 90%;margin: 10px; " >
              <mat-label>Choisissez l'annee souhaité</mat-label>
              <mat-select [(ngModel)]="annee" >
                <mat-option *ngFor="let anee of tab " [value]="anee.anee" (click)="nbrRdv()" >
                  {{anee.anee}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div  style="height:70%; width:90%">
              <canvas id="myChart" style="height:90%; width:90%"> {{myChart}} </canvas>
            </div>
              </div>
      </div>  </div>
      </div>

      <br>

  <!--<div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title text-center">Le nombre des soins effectués actuellemenet </h4>
          <div style="height: 350px; width:50vw" class="mt-4">
            <div  style="height:70%; width:90%">
              <canvas id="chart" style="height:90%; width:90%"> {{chart}} </canvas>
            </div>
              </div>
      </div>  </div>
      </div>-->
  </div>

  <div class=" col-md-3 ">
    <div class="col-md-12">
      <div   class="card">
        <div class="card-body">
            <h4 class="card-title text-center m-b-0" >Le nombre des soins des differents categories  </h4>
            <div style="height:70%; width:90%">
              <canvas id="myPie"  style="height:50%; width:50%"> {{myPie}} </canvas>
            </div>
        </div>
    </div>
    </div>

      <div class="col-md-12">
        <div  style="height: 40vh;" class="card">
          <div class="card-body">
              <h4 class="card-title text-center m-b-0" >Le montant des paiements effectué chaque année</h4>
              <div style="height:100%;">
                <canvas id="myLine" style="height: 80%;width: 100%;"> {{myLine}} </canvas>
              </div>

          </div>
      </div>
  </div>

</div>


</div>
</div>

</div>
<div *ngIf="isup">
  <app-modif-profil></app-modif-profil>
  </div>
